* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
  display: flex;
  /* grid-template-columns: 1.1fr 2.1fr 1.4fr; */
  background: #000;
  color: #fff;
}

.right {
  /* width: 38%; */
  background-color: #000;
}