.container {
    width: 100%;
}

.postContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 16px;
    border-bottom: #333 solid 0.1px;
    width: 100%;
}

.repost {
    margin-left: 30px;
    margin-top: 10px;
}

.repost span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

.repost svg {
    height: 15px;
    padding: 0px;
}

.post {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.userImage {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.userImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postContent {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}

.userInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.userInfo span {
    color: gray;
}

.postText,
.userInfo {
    font-size: 15px;
}

.postMetrics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding-top: 10px;
}

.postMetricItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: gray;
}

.postMetricItem svg {
    height: 20px;
}